<!DOCTYPE html>
<html>
	<head>
		<title>Employee Details</title>
		<script src="jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script src="jquery.dataTables.min.js"></script>
		<script src="angular-datatables.min.js"></script>
		<script src="bootstrap.min.js"></script>
		<link rel="stylesheet" href="bootstrap.min.css">
		<link rel="stylesheet" href="datatables.bootstrap.css">
		
	</head>
	<body ng-app="crudApp" ng-controller="crudController">
		
		<div class="container" ng-init="fetchData()">
			<br />
				<h3 align="center">Employee Details</h3>
			<br />
			<div class="alert alert-success alert-dismissible" ng-show="success" >
				<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				{{successMessage}}
			</div>
			<div align="right">
				<button type="button" name="add_button" ng-click="addData()" class="btn btn-success">Add</button>
			</div>
			<br />
			<div class="table-responsive" style="overflow-x: unset;">
				<table datatable="ng" dt-options="vm.dtOptions" class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Name</th>
							<th>DOB</th>
							<th>Salary</th>
							<th>Joining Date</th>
							<th>Relieving Date</th>
							<th>Contact</th>
							<th>Status</th>
							<th>Edit</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="name in namesData">
							<td>{{name.first_name}}</td>
							<td>{{name.dob}}</td>
							<td>{{name.salary}}</td>
							<td>{{name.joiningdate}}</td>
							<td>{{name.relievingdate}}</td>
							<td>{{name.contact}}</td>
							<td>{{name.status}}</td>
							<td><button type="button" ng-click="fetchSingleData(name.id)" class="btn btn-warning btn-xs">Edit</button></td>
							<td><button type="button" ng-click="deleteData(name.id)" class="btn btn-danger btn-xs">Delete</button></td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</body>
</html>

<div class="modal fade" tabindex="-1" role="dialog" id="crudmodal">
	<div class="modal-dialog" role="document">
    	<div class="modal-content">
    		<form method="post" ng-submit="submitForm()">
	      		<div class="modal-header">
	        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        		<h4 class="modal-title">{{modalTitle}}</h4>
	      		</div>
	      		<div class="modal-body">
	      			<div class="alert alert-danger alert-dismissible" ng-show="error" >
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						{{errorMessage}}
					</div>
					<div class="form-group">
						<label>Employee Name</label>
						<input type="text" name="first_name" ng-model="first_name" class="form-control" />
					</div>
					<div class="form-group">
						<label>Employee DOB</label>
						<input type="date" name="dob" ng-model="dob" class="form-control" />
					</div>
					<div class="form-group">
						<label>Employee Salary</label>
						<input type="text" name="salary" ng-model="salary" class="form-control"  id="onlyNumbers" onkeypress="allowNumbersOnly(event)"  />
					</div>

					<div class="form-group">
						<label>Joining Date</label>
						<input type="date" name="joiningdate" ng-model="joiningdate" class="form-control" />
					</div>
					<div class="form-group">
						<label>Relieving Date</label>
						<input type="date" name="relievingdate" ng-model="relievingdate" class="form-control" />
					</div>
					<div class="form-group">
						<label>Contact</label>
						<input type="text" name="contact" pattern="[789][0-9]{9}" ng-model="contact" class="form-control" />
					</div>
					<div class="form-group">
						<label>Status</label>
					 <select name="status"  ng-model="status" class="form-control">
					 	  <option value="" selected disabled hidden>Choose here</option>
					    <option value="Active">Active</option>
					    <option value="Inactive">Inactive</option>
					 </select>


						</div>
					
	      			</div>
	      	    	<div class="modal-footer">
	      			<input type="hidden" name="hidden_id" value="{{hidden_id}}" />
	      			<input type="submit" name="submit" id="submit" class="btn btn-info" value="{{submit_button}}" />
	        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	        	</div>
	        </form>
    	</div>
  	</div>
</div>


<script>

var app = angular.module('crudApp', ['datatables']);
app.controller('crudController', function($scope, $http){

	$scope.success = false;

	$scope.error = false;

	$scope.fetchData = function(){
		$http.get('fetch_data.php').success(function(data){
			$scope.namesData = data;
		});
	};

	$scope.openModal = function(){
		var modal_popup = angular.element('#crudmodal');
		modal_popup.modal('show');
	};

	$scope.closeModal = function(){
		var modal_popup = angular.element('#crudmodal');
		modal_popup.modal('hide');
	};

	$scope.addData = function(){
		$scope.modalTitle = 'Add Employee';
		$scope.submit_button = 'Submit';
		$scope.openModal();
	};

	$scope.submitForm = function(){
		$http({
			method:"POST",
			url:"insert.php",
			data:{'first_name':$scope.first_name, 'dob':$scope.dob, 'salary':$scope.salary,
			 'joiningdate':$scope.joiningdate, 'relievingdate':$scope.relievingdate, 'contact':$scope.contact, 'status':$scope.status, 'action':$scope.submit_button, 'id':$scope.hidden_id}
		}).success(function(data){
			if(data.error != '')
			{
				$scope.success = false;
				$scope.error = true;
				$scope.errorMessage = data.error;
			}
			else
			{
				$scope.success = true;
				$scope.error = false;
				$scope.successMessage = data.message;
				$scope.form_data = {};
				$scope.closeModal();
				$scope.fetchData();
			}
		});
	};

	$scope.fetchSingleData = function(id){
		$http({
			method:"POST",
			url:"insert.php",
			data:{'id':id, 'action':'fetch_single_data'}
		}).success(function(data){
			$scope.first_name = data.first_name;
			$scope.dob = data.dob;
			$scope.salary = data.salary;
			$scope.joiningdate = data.joiningdate;
			$scope.relievingdate = data.relievingdate;
			$scope.contact = data.contact;
			$scope.status = data.status;

			$scope.hidden_id = id;
			$scope.modalTitle = 'Edit Data';
			$scope.submit_button = 'Edit';
			$scope.openModal();
		});
	};

	$scope.deleteData = function(id){
		if(confirm("Are you sure you want to remove it?"))
		{
			$http({
				method:"POST",
				url:"insert.php",
				data:{'id':id, 'action':'Delete'}
			}).success(function(data){
				$scope.success = true;
				$scope.error = false;
				$scope.successMessage = data.message;
				$scope.fetchData();
			});	
		}
	};

});

function allowNumbersOnly(e) {
    var code = (e.which) ? e.which : e.keyCode;
    if (code > 31 && (code < 48 || code > 57)) {
        e.preventDefault();
    }
}
</script>